<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common::commonHeader('主页')">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div th:include="common::commonNav"></div>
        <!-- page content -->
        <div class="right_col" role="main" style="min-height: 800px;">
          <br />
              </div>
            </div>
          </div>
        <!-- /page content -->
    <div th:include="common::commonFooter"></div>
  </body>
</html>
